.cube-face {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
}

.face-0 {
    grid-area: front;
}

.face-1 {
    grid-area: left;
}

.face-2 {
    grid-area: right;
}

.face-3 {
    grid-area: back;
    aspect-ratio: 3/3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;
}

.face-4 {
    grid-area: top;
}

.face-5 {
    grid-area: bottom;
}