.cube-face {
    border: 1px dashed red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.face-0 {
    grid-area:front;
}
.face-1 {
    grid-area:left;
}
.face-2 {
    grid-area:right;
}
.face-3 {
    grid-area:back;
}
.face-4 {
    grid-area:top;
}
.face-5 {
    grid-area:bottom;
}