button.MoveButton {
    border: 1px solid #D0D3D4;
    background-color: #F0F3F4;
    width: 1cm;
    height: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    margin-inline: 4px;
    font-size: x-large;
}

button.MoveButton:hover {
    border-color: #B3B6B7;
    background-color: #D0D3D4;
}

button.MoveButton:focus {
    border-color: #979A9A;
    background-color: #B3B6B7;
}

button.MoveButton:active {
    border-color: #7B7D7D;
    background-color: #979A9A;
}

table.buttonTable {
    margin-top: 8px;
}