.App {
  text-align: center;
  margin: auto;
  /*width: clamp(200px, 50%, 600px);*/
  background-color: #282c34;
  height: 100vh;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(0.500em + 2vmin);
  color: white;
}

.title {
  margin: 0em;
}

.App-link {
  color: #61dafb;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.2em;
}

button.move-button {
  border: 2px outset #D0D3D4;
  background-color: #F0F3F4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  width: 100%;
  aspect-ratio: 1;
}

button.move-button:hover {
  border-color: #B3B6B7;
  background-color: #D0D3D4;
}

button.move-button:focus {
  border-color: #979A9A;
  background-color: #B3B6B7;
}

button.move-button:active {
  border-color: #7B7D7D;
  background-color: #979A9A;
}

@media screen and (max-width: 575.98px) {
  .App {
    max-height: 100vh;
    aspect-ratio: 9/16;
  }
}