.App {
  text-align: center;
  margin: auto;
  width: clamp(200px, 50% ,600px);
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}